
th {
    background-color: slateblue;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

body {
    background-image: url("gradient_bg.png");
    background-repeat: repeat-x;
}
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

th {
    background-color: red;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

h1 {
    letter-spacing: 3px;
}
/*h1 {
    text-align: center;
}*/

h1 {
    text-shadow: 2px 2px blueviolet;
}

h1.italics {
    font-style: italics;
}
h1
{

    color:black;
}
h3
{

    color:black;
}

.alert{
    //background-color: red;
    margin-left: 37% !important;
    text-align: center !important;
    color:black;
    width: 320px;
    padding: 10px;
    border: 5px solid red;
    margin: 0;


}
/*.alert1{
    //background-color: red;
    color:black;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    text-align: center;

}*/

/*
function Warn() {
    alert ("Record deleted");
    document.write ("This is a warning message!");
}*/